html {
    color: #1e1e1e;
    font-family: Palatino, "Palatino LT STD", "Palatino Linotype", "Book Antiqua", Georgia, serif;
}

body {
    background-color: #f0dccf;
    overflow: scroll;
}
.upheader {
    margin-left: -8px;
    margin-top: -8px;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content:center;
    background-color: #fdf8f5;
    background-image: url("images/NIO.png");
    background-size: contain;
    width: 100%;
    text-align: center;
}

.uph1 {
    margin: 0 auto;
    color: #996688;
    font-weight: 900;
    font-size: 200%;
}

.uph2 {
    margin: 0 auto;
    opacity: 2;
    font-weight: 900;
    color: #996688;
}

.linksbox {
    margin: 0 auto;
    vertical-align: middle;
}

.links__container {
    float: left;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    width: 500px;
    background-color:#996688;
}

.links__item {
    background-color: #996688;
    border: none;
    color: white;
    padding: 15px 50px 15px 13px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }


.links__link {
    background-color: #fdfaf8;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    border-radius: 18px;
    border: 1px solid gray;
    color: #996688;
    font-weight: bold;

    cursor: pointer;
    margin: 5px;
}

.links__link:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.links__link span {
    cursor: pointer;
    display: inline-block;
    position: relative;
}

.links__link span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.links__link:hover span {
    padding-right: 25px;
}
  
.links__link:hover span:after {
    opacity: 1;
    right: 0;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
    color: #996688;
    text-align: center;
}

.footer__text {
    margin: 0;
}

.main {
    position: fixed;
    top: 200px;
}

.modalPost {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modalPostContent {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.modalInputs {
    display: flex;
    flex-direction: column;
}

.close {
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


.modalPostTitle {
    text-align: center;
    font-weight: bolder;
    font-size: large;
}

.mInput {
    margin-bottom: 20px;
}


.checked {
    color: orange;
}

#newPostButt {
    position: relative;
    left: 37%;
    font-size: 2em;
    padding: 0.5em 2em;
}

.firstLine {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch; 
    width: 100%;  
}

.postsContainer {
    left: 0%;
    align-items: center;
    position: relative;
    right: 50%;
    display: flex;
    flex-direction: column;
    overflow: auto;
    height: 595px;
    width: 2000px;
    /* align-items: flex-start; */
    /* justify-content: space-between; */
}

.independentReview {
    position: relative;
    padding: 50px;
    width: 70em;
    border: 20px solid #f0dccf;
    background-color: #fefefe;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    left: 0%;
}


.fa {
    position: relative;
    /* right: 700%; */
}


.who {
    font-weight: bolder;
    font-size: 150%;
}

.what {
    color: #996688;
    font-weight: bolder;
    font-size: 140%;
}

.txt {
    font-size: 120%;
}

.lastLine {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}


.modelContainer {
    top:10%;    
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}


.userRatingContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fefefe;
    width: 25em;
}


.overallRating {
    color: #996688;
    font-weight: bolder;
    font-size: 140%;
}


.userRating {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}


.userStarContainer {
    position: relative;
    top: 1.70em;
    right: 0.5em;
}


.overallRating {
    position: relative;
    left: 0.5em;
}


.theModel {
    font-size: 2em;
    left: 45%;
}

.carPhoto {
    max-width: 50%;
}




@media (max-width: 1444px)
{
    body { width: 100%;}
    .main { width: 100%;}

    .postsContainer { width: 100%;
         }
    .independentReview { width: 70%;}

    #newPostButt { width: 50%;
    font-size: 1.5em;
    left: 27%;}

    .uph1 {
        font-size: 150%;
    }
    .uph2 {
        font-size: 130%;
    }
    .links__container {
        width: 50%;
    } 

    .links__item {
        width: 50%;
        padding: 8px 25px 13px 5px;
    }

    .modalPost {
        font-size: 80%;
    }

    .theModel {
        font-size: 1.5em;
        left: 38%;
    }
}


@media (max-width: 1280px)
{
    body { width: 100%;}
    .main { width: 100%;}

    .postsContainer { width: 100%;
         }
    .independentReview { width: 70%; border: 15px solid #f0dccf;}

    #newPostButt { width: 50%;
    font-size: 1.5em;
    left: 27%;}

    .uph1 {
        font-size: 150%;
    }
    .uph2 {
        font-size: 130%;
    }
    .links__container {
        width: 50%;
    } 

    .links__item {
        width: 50%;
        padding: 8px 25px 13px 5px;
    }

    .modalPost {
        font-size: 80%;
    }

    .theModel {
        font-size: 1.5em;
        left: 38%;
    }
    
    .postsContainer { height: 480px;}
}

@media (max-width: 768px)
{
    .uph1 {
        font-size: 110%;
    }
    .uph2 {
        font-size: 110%;
    }

    .links__container {
        width: auto;
        justify-content: none;
    } 

    .links__item {
        width: 31%;
        padding: 0px 5px 5px 0px;
    }

    .links__link {
        padding: 11px 25px;
        font-size: 12px;
    }

    .modalPost {
        font-size: 70%;
    }

    .modalPostContent {
        position: relative;
        top: 120px;
        width: 70%;
    }

    .modalPostTitle {
        font-size: 140%;
    }

    .theModel {
        font-size: 1.2em;
        left: 38%;
    }

    .independentReview { width: 50%; height: 50%;
    border: 7px solid #f0dccf;}

    .modelContainer {
        flex-direction: column;
        align-items: center;
    }

    .userRatingContainer {
        max-width: 70%;
        font-size: 80%;
    }

    .carPhoto {
        max-width: 80%;
    }

    .firstLine {
        font-size: 75%;
    }

    #newPostButt { width: 40%;
        font-size: 1em;
        left: 30%;
        bottom: 30px;}

    .txt {
        font-size: 90%;
    }

    .postsContainer { height: 500px;}

    .footer { font-size: 90%;}
}