<p>demo works!</p>
<span>Variabila : {{ foo }}</span>
<br>
<button (click)="add()">add</button>
<button (click)="remove()">remove</button>
<br>
<span>Lista</span>

<button (click)="toggleAdd()">toggle add</button>
<ul *ngIf="addIsVisible">
    <li *ngFor="let value of values">       <!--values e numele definit in ngOnInit, value e valoarea cu care lucram-->
        <button (click)="add(value)">add {{value}}</button>
    </li>
</ul>

<ul>
    <li *ngFor="let value of values">
        <button (click)="remove(value)">remove {{value}}</button>
    </li>
</ul>